# Ignorar saídas de compilação do ESP-IDF
build/
.vscode/

sdkconfig

# Ignorar arquivos temporários do Python
__pycache__/
*.pyc

# Ignorar arquivos do sistema ou do LTspice temporários
*.log
*.raw
*.pdf